<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
<!--    <bean id="demandeConge" class="model.DemandeConge" scope="prototype">-->
<!--        <property name="collaborateur" ref="c"/>-->
<!--        <property name="periode" ref="p"></property>-->
<!--    </bean>-->
    <bean id="c" class="model.Collaborateur" scope="prototype">
        <constructor-arg index="0" value="Rebai"/>
        <constructor-arg index="1" value="Tarek"/>

    </bean>
    <bean id="p" class="model.Periode" scope="prototype">
        <constructor-arg index="0" value="21-12-2021"/>
        <constructor-arg index="1" value="7"/>

    </bean>

    <!-- Provide support for component scanning -->
    <context:component-scan base-package="*" />
    <!--Provide support for conversion, formatting and validation -->
    <mvc:annotation-driven/>
</beans>